@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: var(--font-inter), sans-serif;
}

.font-mplus-rounded {
  font-family: var(--font-mplus-rounded), sans-serif;
}

.btn-light {
  @apply bg-button-light text-buttonText-light;
}

.btn-dark {
  @apply bg-button-dark text-buttonText-dark;
}

/* Pour le fond */
.bg-light {
  @apply bg-lightBackground text-lightText;
}

.bg-dark {
  @apply bg-darkBackground text-darkText;
}

.brillance {
  @apply text-textSpecial-light dark:text-textSpecial-dark;
}

/* Transition fluide sur les changements de thème */
html {
  transition: background-color 0.3s ease, color 0.3s ease;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.bg-scene {
  background-color: var(--bg-color);
}

@media (prefers-color-scheme: dark) {
  .bg-scene {
    --bg-color: rgb(32, 32, 35); /* darkBackground */
  }
}

@media (prefers-color-scheme: light) {
  .bg-scene {
    --bg-color: rgb(240, 231, 219); /* lightBackground */
  }
}

/* Style pour le header */
.header {
  @apply z-50;
  position: relative;
}
